<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change Password</title>
    </head>
    <body>
        <h1>Change Password</h1>
        <form id="changepassword-form">
            <input type="password" autocomplete="off" name="password" id="password">
            <input type="submit" value="Submit">
        </form>
    </body>
    <script>
        const form = document.getElementById("changepassword-form");
        form.addEventListener("submit", submit);

        async function submit(e) {
            e.preventDefault();
            const password = document.getElementById("password").value;

            const result = await fetch('/api/change-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    newPassword: password,
                    token: localStorage.getItem('token')
                })
            }).then((res) => res.json());

            if(result.status == "ok") {
                console.log(result);
            } else {
                alert(result.error);
            }
            
        }
    </script>
</html>